{{#if isRegistered}}
    {{> contentBox 
        contentTitle="Edit the Book" 
        content="Please modify the book's details"
    }}

    <div class="container">
            <form action="/books/edit/{{book.ISBN}}" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group mb-2">
                    <label for="isbn">ISBN</label>
                    <input class="form-control" type="text" id="isbn" name="ISBN" value="{{book.ISBN}}" minlength="10" maxlength="13" required>
                </div>
                <div class="form-group mb-2">
                    <label for="book-title">Book Title</label>
                    <input class="form-control" type="text" id="book-title" name="title" value="{{book.title}}" required>
                </div>
                <div class="form-group mb-2">
                    <label for="author">Author</label>
                    <input class="form-control" type="text" id="author" name="author" value="{{book.author}}" required>
                </div>
                <div class="form-group mb-2">
                    <label for="year">Published Year</label>
                    <input class="form-control" type="number" id="year" name="year" min="1000" max="9999" value="{{book.year}}" required>
                </div>
                <div class="form-group mb-2">
                    <label for="image-url">Image URL</label>
                    <input class="form-control" type="url" id="image-url" name="image" value="{{book.image}}" required>
                </div>
                <button class="btn btn-success mt-1" type="submit">Save changes</button>
            </form>
    </div>
{{else}}
    {{> contentBox 
        contentTitle="Edit the Book" 
        content="Log in or register to donate and make a difference!"
    }}

    <div class="container">
        <a class="btn btn-success" href="/login">Log in or Register</a>
    </div>
{{/if}}

{{> modals}}